{% load bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
        name="viewport">
  <title>Link Shortener</title>
  <link rel="shortcut icon" href="{% static '/favicon.ico' %}">
</head>
<body class="bg-dark text-white-50">
<div class="px-5 py-5">
  <div class="container p-4">
    <div class="row align-items-center">
      <div class="col-6 offset-3">
        <p>Введите ссылку, которую хотите сократить:</p>

        <form action="/" method="post" novalidate>
          {% csrf_token %}
          {% bootstrap_field form.full_url show_label=False %}
          {% bootstrap_field form.custom_name show_label=False %}
          {% bootstrap_button "Сократить ссылку" button_type="submit" button_class="btn-warning" %}
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>